
<%= render 'partials/header', srchpath: tweets_path %>

<div class='container-fruid'>

  <div class='row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-8 col-xs-12'>

      <div class="timeline">
        <%= render 'partials/alert' %>

        <div class='tweet-container'>
          <%= render 'partials/per_tweet', t: @tweet %>
        </div>
      </div>

    </div>
    <div class='col-sm-2'></div>
  </div>

</div>  
