
<%= render 'partials/header', srchpath: search_tweets_path %>

<div class='container-fluid'>

  <div class='row main-row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-8 col-xs-12 main-container'>

      <%= render 'partials/alert' %>

      <div class="timeline">
        <div class='tweet-container'>
          <%= render 'partials/trace_tweets', t: @tweet %>
        </div>
      </div>

      <%= render 'partials/new_tweet', t: @new_retweet, reply_to: @tweet.id, ajax_post: true %>

    </div>
    <div class='col-sm-2'></div>
  </div>

</div>  
