
<% if t.present? %>

  <div class='new-tweet-container'>
    <%= form_for t do |f| %>
      <div class='form-group new-tweet-box'>
        <%= f.text_area :content, rows: '4', placeholder: '（140文字以内で投稿）', class: 'form-control' %>
      </div>
      <%= f.submit '投稿', class: 'btn submit-btn' %>
    <% end %>
  </div>

<% end %>
