
<!--ツイートごとのリアクションボタンを表示-->
<!--t: 対象となるTweetオブジェクト-->

<% @emotions.each do |emotion, emotion_id| %>
  <% next if emotion == :na %>

  <% ct = @emotion_array[emotion_id][t.id] %>
  <% unless ct==0 %>
      <div class = "<%= class_by_emotion(emotion) %>">
          <span class = "emotion-ctr-text"><%= ct %></span>
      </div>
  <% end %>

<% end %>
