
<%= render 'partials/header', srch: true %>

<div class='wrapper'>

  <div class='row'>
    <div class='col-md-2 col-xs-0'></div>
    <div class='col-md-8 col-xs-12'>

      <div id="timeline">
      
        <%= render 'partials/alert' %>
      
        <% @tweets.each do |tweet| %>
          <%= render 'partials/per_tweet', t: tweet %>
        <% end %>
        
        <%= paginate @tweets %>
      </div>

    </div>
    <div class='col-md-2 col-xs-0'></div>
  </div>

</div>  
