
<%= render 'partials/header', srchpath: user_path %>

<div class='container-fruid'>

  <div class='row'>
    <div class='col-md-2 col-xs-0'></div>
    <div class='col-md-8 col-xs-12'>

      <div id="timeline">
      
        <%= render 'partials/alert' %>
      
        <div class='tweet-container'>
          <% @tweets.each do |tweet| %>
            <%= render 'partials/per_tweet', t: tweet %>
          <% end %>
        </div>
        
        <%= paginate @tweets %>
      </div>

    </div>
    <div class='col-md-2'></div>
  </div>

</div>  
