
.tw-auth {
    margin: 0 15px 40px 15px;
    color: #444;

    a:link {
        text-decoration: none;
        color: #444;
    }
    a:visited {
        text-decoration: none;
        color: #444;
    }
    a:hover {
        text-decoration: none;
        font-weight: bold;
        color: #131;
    }

    .page-title {
        margin: 20px 0 30px 0;
        text-align: center;
        color: #565;
        font-size: 180%;
        font-weight: bold;
    }
    .pw-reset-msg {
        font-size: 90%;
        font-weight: bold;
        color: #555;
        margin-left: 20px;
        margin-right: 30px;
    }
    .oath-btn {
        margin-top: 5px;
        color: #FFF;
        background: linear-gradient(#689a72 0%,#406f40 100%);
    }
    

    .prof-image-box {
        margin: 10px 0;
        position: relative;
        left: 0;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 8px;

        .prof-image {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin: 0 auto;
        }
    }
    .user-unregister {
        float: right;
        padding: 15px 15px;
        border: 1px solid #999;
        border-radius: 4px;

        color: #222;
        text-align: center;
        font-size: 80%;
        .btn {
            margin-top: 20px;
            font-size: 60%;
            font-weight: bold;
            height: 25px;
            width: 100px;
        }
    }
    .back-link {
        margin-top: 15px;
    }

    
    
}
