.fluid-container {
  margin: 0 auto; }
  .fluid-container .main-row {
    margin: 0 auto; }
    .fluid-container .main-row .main-container {
      margin: 0 5px 0 5px; }

.new-tweet-container {
  text-align: right; }
  .new-tweet-container .new-tweet-box {
    margin: 25px 0 0 0; }
    .new-tweet-container .new-tweet-box .new-tweet {
      border: 1px solid #9AEB44; }
  .new-tweet-container .submit-btn {
    margin: 2px 0 0 0;
    font-size: 90%;
    color: #FFF;
    background: linear-gradient(#689a72 0%, #406f40 100%); }

.timeline .tweet-container {
  margin-top: 30px;
  border: 1px solid #8EAD89;
  border-radius: 5px;
  background-color: rgba(245, 250, 248, 0.9); }
  .timeline .tweet-container .retweet-header {
    float: right;
    height: 8px;
    width: 99%;
    background-color: #4B7544;
    border-left: 1px solid #40523D;
    border-bottom: 1px solid #486740;
    border-bottom-left-radius: 6px; }
  .timeline .tweet-container .per-tweet {
    margin: 0;
    padding: 10px 10px;
    min-height: 90px;
    border-bottom: 1px solid #eee;
    font-size: 95%; }
    .timeline .tweet-container .per-tweet .user-image {
      margin: 0;
      padding: 0; }
      .timeline .tweet-container .per-tweet .user-image .prof-image-box {
        position: relative;
        left: 0;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 8px; }
        .timeline .tweet-container .per-tweet .user-image .prof-image-box .prof-image {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          margin: 0 auto; }
    @media (max-width: 768px) {
      .timeline .tweet-container .per-tweet .user-tweet {
        padding-left: 40px; } }
    .timeline .tweet-container .per-tweet .user-tweet {
      overflow-wrap: break-word;
      word-wrap: break-word;
      margin-top: -3px;
      color: #444; }
      .timeline .tweet-container .per-tweet .user-tweet a:link {
        text-decoration: none;
        color: #444; }
      .timeline .tweet-container .per-tweet .user-tweet a:visited {
        text-decoration: none;
        color: #444; }
      .timeline .tweet-container .per-tweet .user-tweet a:hover {
        text-decoration: none;
        font-weight: bold;
        color: #131; }
      .timeline .tweet-container .per-tweet .user-tweet .tweet-header {
        margin: 0;
        padding: 0; }
        .timeline .tweet-container .per-tweet .user-tweet .tweet-header .user-name {
          font-size: 90%;
          font-weight: bold; }
        .timeline .tweet-container .per-tweet .user-tweet .tweet-header .tweeted-datetime {
          font-size: 80%; }
        .timeline .tweet-container .per-tweet .user-tweet .tweet-header .retweeted_from {
          margin-left: 5px;
          font-size: 80%;
          color: #ddd; }
          .timeline .tweet-container .per-tweet .user-tweet .tweet-header .retweeted_from a:link {
            color: #c0c5c0; }
          .timeline .tweet-container .per-tweet .user-tweet .tweet-header .retweeted_from a:visited {
            color: #c0c5c0; }
          .timeline .tweet-container .per-tweet .user-tweet .tweet-header .retweeted_from a:hover {
            color: #a0a5a0;
            font-weight: normal; }
      .timeline .tweet-container .per-tweet .user-tweet .tweet-content {
        margin: 4px 0 0 0; }
.timeline .tweet-del-btn {
  text-align: right; }
  .timeline .tweet-del-btn .btn {
    margin-top: 30px;
    font-size: 80%; }
.timeline .pagination li a:link {
  text-decoration: none;
  color: #355035; }
.timeline .pagination li a:visited {
  text-decoration: none;
  color: #355035; }
.timeline .pagination li a:hover {
  text-decoration: none;
  color: #355035; }
.timeline .pagination li.active a {
  color: #e0f5e0;
  background-color: #455f4f;
  border-color: #355f45; }

/*# sourceMappingURL=tweets.css.map */
