
     
.new-tweet-container {
    margin-bottom: 40px;
    text-align: right;
    .new-tweet-box {
        margin: 0;
        .new-tweet {
            border: 2px solid #2dad0e;
            border-radius: 10px;
        }
    }
    .submit-btn {
        margin: 2px 0 0 0;
        font-size: 90%;
        color: #FFF;
        background: linear-gradient(#5ed85e 0%, #6ab553 100%);
    }
}

.timeline {
    margin-top: 20px;
    margin-bottom: 60px;
    .option-wrapper {
        #option-show-followers-only {
            font-size: 90%;
            color: #464;
            border-bottom: none;
            li {
               border-radius: 20px; 
            }
            a:link {
                text-decoration: none;
                color: #20841a;
            }
            a:visited {
                text-decoration: none;
                color: #20841a;
            }
            a:hover {
                text-decoration: none;
                font-weight: bold;
                color: #20841a;
            }
        }
        .option-show-replies {
            margin-top: 10px;
            float: right;
            color: #75c175;
            font-size: 70%;
            #show-replies-checkbox:checked {
                background-color: #795;
                color: #fff;
                @media (min-width: 769px) {
                font-size: 50%;
                }
            }
        }
    }
    .tweet-box {
        margin: 0;
        padding: 5px 15px 15px 15px;
        background-color: #70e88f;
        border-radius: 10px;
    }
    .tweet-container {
        margin-top: 15px;

        .retweet-header {
            float: right;
            height: 10px;
            width: 100%;
            @media (max-width: 768px) {
                height: 12px;
                width: 98%;
            }
            background-color: #60d46a;
            border-bottom-left-radius: 6px;
        }
        .per-tweet {
            margin: 0;
            padding: 15px 10px 10px 10px;

            min-height: 105px;
            border-radius: 10px;
            background-color: #dffbd9;
            border-bottom: 1px solid #c8dec3;
    
            font-size: 95%;

            &.per-mine {
                background-color: #ffffff;
            }
    
            .user-image {
                margin: 0;
                padding: 0;
    
                    .prof-image-box {
                        position: relative;
                        left: 0;
                        width: 50px;
                        height: 50px;
                        overflow: hidden;
                        border-radius: 8px;
        
                        .prof-image {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            margin: 0 auto;
                        }
                    }

            }
            @media (max-width: 768px) {
                .user-tweet {
                    padding-left: 40px;
                }
            }
            .user-tweet {
                overflow-wrap: break-word;
                word-wrap: break-word;
                margin-top: -3px;
                color: #9eb59e;

                a:link {
                    text-decoration: none;
                    color: #9eb59e;
                }
                a:visited {
                    text-decoration: none;
                    color: #9eb59e;
                }
                a:hover {
                    text-decoration: none;
                    font-weight: bold;
                    color: #9eb59e;
                }

                .tweet-header {
                    margin: 0;
                    padding: 0;
                    .user-name {
                        font-size: 90%;
                        font-weight: bold;
                    }
                    .tweeted-datetime {
                        font-size: 80%;
                    }
                    .retweeted_from {
                        margin-left: 5px;
                        font-size: 80%;
                        color: #ddd;
                        a:link {
                            color: #c0c5c0;
                        }
                        a:visited {
                            color: #c0c5c0;
                        }
                        a:hover {
                            color: #a0a5a0;
                            font-weight: normal;
                        }
                    }
                }
                .tweet-content {
                    margin: 4px 0 0 0;
                    height: auto;
                    color: #2d462d;
                        a:link {
                            color: #2d462d;
                        }
                        a:visited {
                            color: #2d462d;
                        }
                        a:hover {
                            color: #2d462d;
                            font-weight: normal;
                        }
                }

                
                .reaction-counter-container {
                    margin-top: 5px;
                    .emotion-ctr-text {
                        margin-left: 20px;
                        font-size: 120%;
                        font-weight: bold;
                    }
                    .em {
                        font-size: 80%;
                        margin-right: 15px;
                    }
                    .like-icon {
                    }
                    .love-icon {
                    }
                    .laugh-icon {
                    }
                    .wonder-icon {
                    }
                    .weep-icon {
                    }
                    .anger-icon {
                    }
                }

                .reaction-buttons-container {
                    width: 120px;
                    margin-top: 12px;
                    text-align: center;

                    .emotion-icon.selected {
                        opacity: 0.9;
                        font-size: 60%;
                    }
                    .emotion-icon.not-selected {
                        font-size: 50%;
                        opacity: 0.4;
                    }
                }
            }
        }

    }
    .tweet-del-btn {
        text-align: right;
        .btn {
            font-size: 80%;
        }
    }
    .pagination {
        li a:link {
            text-decoration: none;
            color: #355035;
        }
        li a:visited {
            text-decoration: none;
            color: #355035;
        }
        li a:hover {
            text-decoration: none;
            color: #355035;
        }
        li.active a {
            color: #e0f5e0;
            background-color: #455f4f;
            border-color: #355f45;
        }
    }
}

