
#header {
    height: 20px;
    vertical-align: center;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    .header-links {
        margin: 5px 10px;
        text-align: right;
        font-size: 90% ;
    }
}

.wrapper {
    width: 800px;
    margin: 0 auto;

}