.user-profile {
    
    margin: 10px 0 10px 0;
    border: 1px solid #adb;
    border-radius: 10px;
    background-color: rgba(250,255,250,0.9);

    .user-image {
        .prof-image-box {
            margin: 25px 0;
            position: relative;
            left: 5px;
            width: 110px;
            height: 110px;
            overflow: hidden;
            border-radius: 8px;
    
            .prof-image {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                margin: 0 auto;
            }
        }
    }

    .user-prof {
        a:link {
            text-decoration: none;
            color: #444;
        }
        a:visited {
            text-decoration: none;
            color: #444;
        }
        a:hover {
            text-decoration: none;
            font-weight: bold;
            color: #131;
        }

        .prof-header {
            margin-top: 25px;
            .user-name {
                color: #444;
                font-size: 105%;
                font-weight: bold;
                .mark-admin{
                    margin-left: 5px;
                    margin-right: 5px;
                    color: #F22;
                    font-wight: bold;
                }
            }
            .user-login-datetime {
                color: #933;
                font-size: 80%;
            }
        }
        .user-prof-text {
            margin-top: 12px;
            .prof-title {
                color: #aaa;
                font-size: 80%;
            }
            .prof-body {
                overflow-wrap: break-word;
                word-wrap: break-word;
                margin-top: 5px;
                margin-bottom: 15px;
                color: #454;
                font-size: 95%;
            }
        }
        .user-lock-btn {
            text-align: right;
            margin-top: -20px;
            margin-bottom: 10px;
        }
    }

}

